<div class="dynamic-image-block">
    <div class ="dynamic-image-container">
        <div class ="dynamic-image-container" style="max-width: 100%;">
            <div class ="dynamic-image-container" style="max-width: 25%;">
                {% include dynamic_image.html url=include.one %}
            </div>
            <div class ="dynamic-image-container" style="max-width: 25%;">
                {% include dynamic_image.html url=include.two %}
            </div>
            <div class ="dynamic-image-container" style="max-width: 25%;">
                {% include dynamic_image.html url=include.three %}
            </div>
            <div class ="dynamic-image-container" style="max-width: 25%;">
                {% include dynamic_image.html url=include.four %}
            </div>
        </div>
    </div>
</div>