<div class="dynamic-image-block">
    <div class ="dynamic-image-container">
        <div class ="dynamic-image-container" style="max-width: 53%;">
            {% include dynamic_image.html url=include.one %}
        </div>
        <div class ="dynamic-image-container" style="max-width: 47%;">
            <div class ="dynamic-image-container" style="max-width: 100%; height:50%;">    
                {% include dynamic_image.html url=include.two %}
            </div>
            <div class ="dynamic-image-container" style="max-width: 100%; height:50%;">   
                <div class ="dynamic-image-container" style="max-width: 50%; height:50%;"> 
                    {% include dynamic_image.html url=include.three %}
                </div>
                <div class ="dynamic-image-container" style="max-width: 50%; height:50%;"> 
                    {% include dynamic_image.html url=include.four %}
                </div>
            </div>
        </div>
    </div>
</div>