<div class="social-links">
    {% include social_link.html text="Instagram" link="https://instagram.com/szalonkaiza?igshid=ZHUxM2Y5ZXp2OW5o" img="\assets\img\instagram.png"%}
    {% include social_link.html text="Telegram" link="https://t.me/Szalonkaiza" img="\assets\img\telegram.png"%}
    {% include social_link.html text="Facebook" link="https://www.facebook.com/Szalonkaiza" img="\assets\img\facebook.png"%}
    {% include social_link.html text="Tiktok" link="https://www.tiktok.com/@szalonkaiza" img="\assets\img\tiktok.png"%}
    {% include social_link.html text="Ko-fi" link="https://ko-fi.com/szalonkaiza" img="\assets\img\kofi.png"%}
</div>
