* {
    box-sizing: border-box;
    font-family: Playpen Sans;
    color: #000000;
    font-size: 25;
    font-weight: bold;
}

h1 {
    font-weight: bold;
    color: #000000;
    font-size: 36px;
  }
  
  h2 {
    font-weight: bold;
    color: #000000;
    font-size: 32px;
  }



.bright-text {
    color: #000000;
  }

html, body {
    margin: 0;
    padding: 0;
}

.link-holder
{
    display: flex;
    width: max-content;
    height: max-content;
    font-style: normal;
}

html
{
    background-image: linear-gradient(rgb(0, 0, 85), rgb(46, 46, 126));
    background-attachment: fixed;
    min-height: 100%;
    min-width: 100%;
}

a{
    width: max-content;
    height: max-content;
}

body{
    height:100%;
    width:100%;
    background-image: url("/assets/img/stars.png");
}

.star_image
{
    min-height: 100%;
    min-width: 100%;
    height:100%;
    width:100%;
}

.social-links{
    width:100%;
    display: flex;
	flex-wrap: wrap;
}

.social-link-container{
    padding: 5px;
    width: 50%;
    height: max-content;
    display: flex;
}

.social-link{
    display: flex;
    width:fit-content;
    height:100%;
    text-decoration: none;
}


.social-link-icon{
    width: 60px;
    height: 60px;
}
.social-link-text{
    font-size: 40;
}

.width-image
{
    width: 100%;
    height: fit-content;
}

.content-body{
    margin:auto;
    max-width: 1000px;
    width:100%;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0px;
    border-style: solid;
    border-color: #000;
    border-width: thick;
}

.frontnavigation-root{
    width: 100%;
    display: flex;
}
.frontnavigation-image{
    width: 70px;
    height: 70px;
}

.frontnavigation-nav{
    display: flex;
	flex-wrap: wrap;
    width: 60%;
    height: max-content;
    margin:auto;
}

.frontnavigation-text-holder{
    text-align: center;
    margin:auto;
    width: fit-content;
    height: 30px;
}

.frontnavigation-text-element{
    font-weight: bold;
    text-decoration: none;
    font-size: 25;
    text-shadow: 1px 1px #000;
}

  .signed-video {
    width: 100%;
    max-width: 900px;
    margin: auto;
  }

.images-container {
    width: 100%;
    height:fit-content;
    display: flex;
    flex-wrap: wrap;
  }

.signed-image-container {
    
    width: 460px;
    max-width: 100%;
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

.signed-image-desc {
    width:max-content;
    max-width: 100%;
    margin: auto;
    padding: 5px;
    font-size: 30;
}

.image-container {
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    
}

.image-container-img {
    max-width: 100%;
    max-height: 400px;
}

.header-nav{
    display:flex;
    width: max-content;
    height: 80px;
    margin:auto;
}

.title-first{
    font-size: 60;
    align-self: center;
    color: #ffffff;
    text-shadow: 2px 2px #000;
}

.title-second{
    font-size: 40;
    align-self: center;
    color: #cacaca;
}

.title-container{
    display:flex;
    width: auto;
    height: max-content;
    margin:5px;
    padding:5px;
    border-style: solid;
    border-right: none;
    border-top: none;
    border-bottom: none;
}

.title-text{
    font-size: 35;
    color: #000000;
}

.text-image-root
{
    width: 100%;
    height: fit-content;
    display: flex;
}
.text-image-text
{
    width:66%;
}
.text-image-image
{
    width:34%;
    height: fit-content;
}

.dynamic-image-block
{
    width: auto;
    max-width: 100%;
    height: max-content;
    padding: auto;
}

.dynamic-image-container{
    width: 100%;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.dynamic-image-wrap{
    width: 100%;
    height: fit-content;
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}

.dynamic-image{
    width: 100%;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
}