<html>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playpen+Sans">
        <link rel="stylesheet" href="\assets\styles\styles.css">
        <meta charset="UTF-8">
        <title>{{site.title}} - {{page.title}}</title>
        <link rel="shortcut icon" type="image/png" href="/assets/img/icon.png">
    </head>
    <body>
        <div class="header-nav">
            <div class="title-first">{{site.title}}</div>
        </div>
        <div class="content-body">
            <div class="frontnavigation-root">
                <img class="frontnavigation-image" src="\assets\img\moon.png">
                <div class="frontnavigation-nav">
                    {% include navigation_page.html url="/" title="Główna"%}
                    {% include navigation_page.html url="/regulamin.html" title="Regulamin"%}
                    {% include navigation_page.html url="/cennik.html" title="Cennik"%}
                    {% include navigation_page.html url="/przyklady.html" title="Przykłady"%}
                    {% include navigation_page.html url="/adopty.html" title="Adopty"%}
                    {% include navigation_page.html url="/kolejka.html" title="Kolejka"%}
                </div>
                <img class="frontnavigation-image" src="\assets\img\moon_flipped.png">
            </div>
                
    
        </div>
        <br>
        <div class="content-body">
            {% include big_title.html title=page.title %}
            {{ content }}
            {% include social_links.html %}
        </div>
        <br>
        
    </body>

</html>
